:root{
  --logocinza: #3e3d42;
  --logoverde: #2b484c;
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
}
html,body{
  width: 100%;
  height:100%;
}
body {
  font-size: 16px;
  background-color: #f2f2f2;
}
@font-face {
  font-family: phisio;
  src: url('../font/phisio.ttf');
}
 header {
  background: #FFF;
  color: #FFFFFF;
  font-family: 'Indie Flower', cursive;
  /* display: table; */
  height: 100%;
  width: 100%;
}
.imagem-header{
  height: 100%;
  background-image: url('../image/headerlow2gray.jpg');
  background-position: center;
  background-attachment: fixed !important;
  background-size: cover;
  position: relative;
}
.gray-header{
  height: 100%;
  width: 100%;
}

.header-texto{
  padding-top: 20%;
}
header h1 {
  font-size: 3.5em;
}
header h2 {
  font-size: 2.0em;
}
.texto-header{
  font:5.5em phisio, Arial, Tahoma, Sans-serif;
}
.texto-header-baixo{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
.container-menu{
  position: absolute;
  top: 50%;
  left: 25%;
  width: 50%;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}
.conteudo {
  padding: 4%;
}
.navbar-nav a{
  color: white !important;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
.navbar-nav a:hover{
  color: #87aba1 !important;
}
.bg-light {
  background-color: transparent !important;
}
.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(255, 255, 255, 0.85);
}
.container-branco{
  color: var(--logocinza);
}
.fundo-branco{
  background-color: white;
}
.container-cinza{
  color: #87aba1;
}
.fundo-branco{
  background-color: white;
}
.fundo-cinza{
  background-color: var(--logocinza);
}
.nav-t{
  background-color: rgba(0,0,0,.0) !important;
}
.nav-c{
  background-color: rgba(0,0,0,.5) !important;
}
.fundo-galeria{
  background-image: url('../image/775lowblur2.jpg');
  background-position: center;
  background-attachment: fixed !important;
  background-size: cover;
}
.img-thumbnail{
  width: 100%;
  height: auto;
  margin: 6%;
}
.row {
  margin-right: 0px;
  }
.social{
  width: 50px;
  height: auto;
}
footer{
  background-color: #252525;
  min-height: 50px;
  color: #87aba1;
}
.msg-footer{
  padding-top: 10px;
}

/* ======================================================================== */
#demo {
  height:100%;
  position:relative;
  overflow:hidden;
}
.green{
  background-color:#6fb936;
}
.thumb{
  margin-bottom: 30px;
}
.page-top{
  margin-top:85px;
}
img.zoom {
  width: 100%;
  height: 200px;
  border-radius:5px;
  object-fit:cover;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
}
.transition {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.modal-header {
  border-bottom: none;
}
.modal-title {
  color:#000;
}
.modal-footer{
  display:none;
}

/* ==================================================================== */

@media (max-width: 575.98px) {

  .texto-header{
    font:4.2em phisio, Arial, Tahoma, Sans-serif;
  }
  .texto-header-baixo{
    font-weight: 300;
  }
  .container-menu{
    position: absolute;
    top: 50%;
    left: 25%;
    width: 90%;
    text-align: center;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .header-texto{
    padding-top: 50%;
  }
  img {
    margin: 10px;
  }
  .col-sm-8 > h2{
    text-align: center;
  }
  .p-social  img{
    margin: 0px !important;
  }



}
